.App {
  display: grid;
  place-items: center;
}

h3{
  text-align: center;
}

.signup{
  border: 1px solid black;
  border-radius: 5px;
  margin:10px;
  padding:5px 20px 5px 20px;
  background-color: ghostwhite;
}